<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <div class="footer-content">
            <p><strong>Ready to start your project?</strong></p>
            <p><a href="https://calendly.com/bobjiang" class="button primary">Schedule a Free Call</a></p>
            <p>Email: <a href="mailto:hi@puboods.com">hi@puboods.com</a></p>
        </div>
        <ul class="icons">
            {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style2 fa-envelope"><span class="label">Email</span></a></li>{{end}}
        </ul>
        <p>Puboods Pty Ltd &copy; 2024 <span class="footerspacer icon fa-diamond"></span> ABN 12 666 585 388</p>
        <p><small>Trusted outsourcing partner for startups and growing businesses</small></p>
    </div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}